


#container {
  border: 1px solid red;
  text-align: center;
background-image: url("../image/background.jpg");
  margin: 50px;
  background-repeat:no-repeat;
}

button {
    padding: 10px 38px;
    font-size: 14px;
    background:none;
    border:3px solid white !important;
    background:rgba(0,0,0,0.5);
    color:#Fff;
    text-transform:uppercase;
}


#quiz {
font-size:30px;
color:#fff;
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#number {
    height: 20px;
    margin-left: 180px;
    margin-top: 40px;
    font-size: 23px;
    width: 110px;
    display: block;
    color: white;
    /* margin-left: 20%; */
}
#container h1 {
    color: white;
    text-transform: uppercase;
    font-size: 21px;
}

.choice {
  height: 20px;
  width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
  color:#fff;
}

.box {

  height: 100px;
  margin: 10px 0 10px 0;

}

#start {
  border: 1px solid blue;
  display: inline-block;
  margin-top: 10px;
}
#next {
  border: 1px solid black;
  display: inline-block;
  margin-top: 10px;
}
#reload {
  border: 1px solid green;
  display: inline-block;
  margin-top: 10px;
}

.player1 {
    display: inline-block;
    border-top: 6px solid #fff;
    background: rgba(0,0,0,0.6);
    color: white;
    padding-top: 20px;
    padding-left:20px;
    padding-right:20px;
    text-transform: uppercase;
    height: 100px;

}

.player2 {
  display: inline-block;
  border-top: 6px solid navy;
  background: rgba(0,0,0,0.6);
  color: white;
  padding-top: 20px;
  padding-left:20px;
  padding-right:20px;
  text-transform: uppercase;
  height: 100px;

}
