.h1 {
  text-align: center;
}

#container {
  border: 1px solid red;
  text-align: center;
  margin: 50px;
}

#quiz {
  border: 1px solid orange;
  height: 20px;
  margin: 10px 10px 10px 10px;
}

.box {
  border: 1px solid yellow;
  height: 50px;
  margin-bottom: 10px;
}
.choice1 {
  border: 1px solid black;
  height: 20px;
}
.radio {
  align-items: baseline;
}
.choice {
  border: 1px solid black;
  height: 20px;
  text-align: left;
  /*display: inline-block;*/
}

.choice2 {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}

.choice3 {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}

.choice4 {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}

.choice5 {
  border: 1px solid black;
  height: 20px;
  text-align: left;
}


#start {
  border: 1px solid blue;
  display: inline-block;
}
#next {
  border: 1px solid black;
  display: inline-block;

}
.player1 {
  display: inline-block;
  border: 1px solid green;
  height: 40px;
  margin: 50px 75px 25px 20px;
  width: 40%;
}

.player2 {
  display: inline-block;
  border: 1px solid blue;
  margin: 50px 75px 25px 20px;
  height: 40px;
  width: 40%
}
